.public
    {
        margin: 20px;
        position: relative;
    }
    .button
    { 
         padding: 6px;
   margin: 5px;
   border: none;
   outline: none;
   cursor: pointer;
   

    }
    .addemployee
    {
        margin: 30px;
		margin-left:70px ;
        position: relative;
    }
   .logout
   {
    margin-left:420px;
    color: rgb(0, 102, 255);
    
   }