.registration 
{
   position:absolute;
   left: 20%;
   top: 10%;
}  
.btn
{
   width: 100px;
   height: 30px;
   padding: 6px;
   margin: 5px;
   border: none;
   outline: none;
   background-color: rgb(160, 87, 255);
   cursor: pointer;
   color: rgb(255, 255, 255);
}
input
{
   outline: none;
   border: none;
   background-color: rgb(202, 202, 202);
   height: 25px;
   width: 200px;
   margin: 10px;
   padding: 5px;
}
.gender
{
   margin: 1px;
   width: 50px;
   height: 15px;
}
